@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background-color: #8a1911;
  color: #fff;
  display: flex;
  justify-content: center;
}
.container {
  min-width: 80vw;
}
.heading {
  font-size: 2em;
  text-align: center;
  margin: 2em 0;
}
.input button {
  background-color: inherit;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.1em;
  padding: 10px 45px;
  margin-top: 1em;
  outline: none;
  cursor: pointer;
}


/* Input Field */
.inputGroup {
  display: flex;
  flex-direction: column-reverse;
  margin: 1em 0;
}
.inputGroup input {
  background-color: inherit;
  color: #fff;
  font-size: 1em;
  padding: 30px 10px 10px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
}
.inputGroup input::placeholder {
  opacity: 0;
}
.inputGroup select {
  border-bottom: 2px solid ;
  cursor: pointer;
}
.inputGroup label {
  position: absolute;
  padding-left: 10px;
  margin-bottom: 2px;
  color: #fff;
  cursor: pointer;
  transform: translate(4px, -14px) scale(1.02);
  transform-origin: left top;
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: normal;
}
.inputGroup input,
.inputGroup label {
  transition: 0.4s all ease;
}
.inputGroup input:focus,
.inputGroup input:not(:placeholder-shown) {
  border-bottom: 2px solid #fff;
}
.inputGroup input:focus ~ label,
.inputGroup input:not(:placeholder-shown) ~ label {
  transform: translate(10px, -35px) scale(0.9);
  padding: 0;
  color: #fff;
}